body {
  margin: 0;
  font-family: 'courier new', 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(30, 225, 182), rgb(215, 75, 222));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: linear-gradient(to right, rgb(212, 122, 230), rgb(252, 222, 124));
  cursor: pointer;
}